body{
    background-color: #edece8;
}
.container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 10rem;
    margin-top: 5%;
    margin-bottom: 0;
    flex-wrap: wrap;
  }
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #178fd6;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 140px;
    color: #034488;
    margin: 0;
    margin-top: 2rem;
    margin-left: 0;

}
.right-align {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-self: center;
    
    margin-bottom: 2rem;
  }

  .bottom-text{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #ccdde8;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    align-self: center;
    margin-bottom: 0;
    flex-wrap: wrap;
  }


  @media screen and (min-width: 900px) {
    .right-align {
      margin-right: 40%;
    }
    
    h1{
      font-size: 120px;
    }
    .container{
      margin-top: 2%;
    }
    h2{
      margin-bottom: 50px;
    }
  }